<div data-ng-controller="CareerSelectCtrl" >
	<h2 class="text-capitalize" id="step1">1. Tell us about your career</h2>
	<div class="panel panel-default">
		<div class="panel-heading">&nbsp;</div>
		<div class="panel-body">
			
			<div class="input-group">
				<span class="input-group-addon text-capitalize" >area</span>
				<input type="text"
					data-ng-model="survey.career"
					typeahead="career.title for career in careers | filter:$viewValue"
					class="form-control"
					placeholder="What's your area of expertise? -e.g. marketing, logistics, sales, consulting, finance, etc."
					popover="This is about where YOU WANT TO GO. Not about where you are right now. Pick what YOU want to be, not what your company expects you to be :)"
					popover-title="Important:"
					popover-trigger="focus" >
			</div>
			<br>

			<div class="input-group">
				<span class="input-group-addon text-capitalize" >role</span>
				<input type="text"
					data-ng-model="survey.level"
					typeahead="level.title for level in levels | filter:$viewValue"
					class="form-control"
					placeholder="What's your level of seniority or experience"
					popover="If you've consistently done well in previous evaluations, consider aiming for the next step in your career."
					popover-title="Hint:"
					popover-trigger="focus">
			</div>
			<br>

			<div class="input-group">
				<span class="input-group-addon text-capitalize" >industry</span>
				<input type="text"
					data-ng-model="survey.industry"
					typeahead="industry for industry in industries | filter:$viewValue"
					class="form-control"
					placeholder="Are you pursuing a career in any specific industry?"
					popover="The way your colleagues in the market value different skills may vary between industries."
					popover-title="Hint:"
					popover-trigger="focus">
			</div>
			<br>

		</div>
	</div>
</div>