<div data-ng-controller="SkillSelectCtrl">
	<h2 class="text-capitalize" id="head2">2. Tell us what you value</h2>
	<div class="panel panel-default">
		<div class="panel-heading">&nbsp;</div>
		<div class="panel-body">
			
			<span class="help-block">
				<p>This is our skills dictionary. We've already pre-selected the top <span class="text-info"><strong>{{firstNToCheck}}</strong></span> skills that have so far been found to be most relevant to other professionals at <span class="text-info"><strong>{{survey.level}}</strong></span> level with a career in <span class="text-info"><strong>{{survey.career}}</strong></span>. However you're still free to select those most important <strong><i>to you</i></strong> and deselect the rest.</p>
				<p>We strongly recommend that you select between 4 and 6 skills.</p>
			</span>

			<div class="input-group">
				<span class="input-group-addon text-capitalize" >
					<span class="glyphicon glyphicon-search"></span>
				</span>
				<input type="text" data-ng-model="skillSearch" class="form-control" placeholder="Quick search skills relevant to you by keywords">
			</div>

			<!--Table of skills found as a result of the search by key words -->
			<div class="table-responsive" style="max-height:300px; overflow-y:auto">
				<table class="table table-hover table-condensed">
					<tr>
						<th class="text-capitalize"><input type="checkbox" data-ng-click="toggleAll()"></th>
						<th class="text-capitalize">skill</th>
						<th class="text-capitalize"><small>Others with your career</small></th>
						<th class="text-capitalize"><small>Others at your level in your career</small></th>
					</tr>

					<tr data-ng-repeat="s in skills | filter:skillSearch track by s.id" data-ng-class="{success:s.selected}">
						<td>
							<input type="checkbox" data-ng-model="s.selected" data-ng-change="toggleSkillSelect(s)">
						</td>
						<td><span class="text-capitalize"><small>{{s.name}}</small></span></td>
						<td>
							<rating class="skill-rating" data-ng-model="s.rankings.rank1.value" max="max" readonly="true" titles="['very low','low','average', 'high', 'very high']" ></rating>
							<span class="label" ng-class="s.rankings.rank1.labelClass" >{{s.rankings.rank1.percent}}%</span>
						</td>
						<td>
							<rating class="skill-rating" data-ng-model="s.rankings.rank2.value" max="max" readonly="true" titles="['very low','low','average', 'high', 'very high']" ></rating>
							<span class="label" ng-class="s.rankings.rank2.labelClass" >{{s.rankings.rank2.percent}}%</span>
						</td>
					</tr>
				</table>
			</div>
			<span class="help-block">
				<h3>The skills you've selected so far.</h3>
			</span>
			<skills-list survey="survey" label="name" placeholder="'No skills selected so far.'"></skills-list>
			<div data-ng-include="'views/incl/duration-warnings.html'"></div>

			<span class="help-block">
				<p>...or you can go to the advanced search in the skills dictionary.</p>
			</span>

			<button type="button" class="btn btn-default btn-block">
				<span class="glyphicon glyphicon-search"></span>&nbsp;
				<span class="text-capitalize">skills dictionary</span>
			</button>
			<br>
			
			
		</div>
	</div>
</div>