<!--nav class="navbar topbar" data-ng-controller="UserCtrl"-->
<nav class="navbar topbar">
	<div class="container-fluid">
		<!-- Brand and toggle get grouped for better mobile display -->
		<div class="navbar-header">
			<!--button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-1"-->
			<button type="button" class="navbar-toggle" data-ng-click="toggleMenu()">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand cupidog-brand" ui-sref="about">
				<img src="img/topbar_logo.svg">
			</a>
		</div>

		<!-- Collect the nav links, forms, and other content for toggling -->
		<div class="navbar-collapse" id="navbar-collapse-1" data-ng-class="navbarMenuClass">
			<ul class="nav navbar-nav">
				<li><a class="topbar-nav active" ui-sref="main.home">Home</a></li>
				<li><a class="topbar-nav" ui-sref="main.wizard">New</a></li>

			</ul>
			<form class="navbar-form navbar-left" role="search">
				<div class="form-group">
					<button type="submit" class="btn flat-btn"><span class="glyphicon glyphicon-search"></span></button>
					<input type="text" class="form-control" placeholder="Search">
				</div>
				
			</form>
			<ul class="nav navbar-nav navbar-right">
				<li>
					<a href="#">{{user.name}}</a>
				</li>
				<li class="dropdown">
					<a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Language <span class="caret"></span></a>
					<ul class="dropdown-menu" role="menu">
						<li><a href="#">English</a></li>
						<li><a href="#">Spanish</a></li>
						<li><a href="#">German</a></li>
						<li><a href="#">French</a></li>
						<li><a href="#">Portuguese</a></li>
						<li><a href="#">Italian</a></li>
						
						<li class="divider"></li>
						<li><a href="#">Is your language not yet supported?</a></li>
					</ul>
				</li>
			</ul>
					
		</div><!-- /.navbar-collapse -->
	</div><!-- /.container-fluid -->
</nav>