<div data-ng-controller="SkillSelectCtrl">
	<h2 class="text-capitalize" id="skillsStepHeading">2. Tell us what you value</h2>
	<div class="panel panel-default">
		<div class="panel-heading">&nbsp;</div>
		<div class="panel-body">
			
			<span class="help-block">
				<p>This is our skills dictionary. We've already pre-selected the top <span class="text-info"><strong>{{firstNToCheck}}</strong></span> skills that have so far been found to be most relevant to other professionals at <span class="text-info"><strong>{{survey.level}}</strong></span> level with a career in <span class="text-info"><strong>{{survey.career}}</strong></span>. However you're still free to select those most important <strong><i>to you</i></strong> and deselect the rest.</p>
				<p>We strongly recommend that you select between 4 and 6 skills.</p>
			</span>

			<div class="input-group">
				<span class="input-group-addon text-capitalize" >
					<span class="glyphicon glyphicon-search"></span>
				</span>
				<input type="text" data-ng-model="skillSearch" class="form-control" placeholder="Quick search skills relevant to you by keywords">
			</div>

			<!--skills table header-->
			<div class="container-fluid hidden-xs">
				<div class="container-fluid">
					<div class="row my-row" >
						
						<div class="col-xs-1 my-col my-col-narrow"></div>

						<div class="col-xs-11 my-col">
							
							<div class="container-fluid">
								<div class="row">
									
									<div class="col-sm-4 my-col">
										<small><strong class="text-capitalize">skill</strong></small>
									</div>

									<div class="col-sm-4 my-col">
										<small><strong class="">Others in {{survey.career}}</strong></small>
									</div>

									<div class="col-sm-4 my-col">
										<small><strong class="text-capitalize">Others at
											<span class="text-capitalize">{{survey.level}}</span> level in
											<span class="text-capitalize">{{survey.career}}</span>
										</strong></small>
									</div>

								</div>
							</div>
						</div>

					</div><!--row-->
				</div><!--container-->
			</div>
			<h4 class="text-capitalize hidden-sm hidden-md hidden-lg">skills</h4>

			<!--skills table body-->
			<div class="skills-table-viewport">
				<div class="container-fluid">
					<div class="row my-row" data-ng-repeat="s in skills | filter:skillSearch track by s.id" data-ng-class="{'selected':s.selected}">
						
						<div class="col-xs-1 my-col my-col-narrow">
							<input type="checkbox" data-ng-model="s.selected" data-ng-change="toggleSkillSelect(s)">
						</div>

						<div class="col-xs-11 my-col">
							
							<div class="container-fluid">
								<div class="row">
									
									<div class="col-xs-12 col-sm-4 my-col">
										<small class="text-capitalize">{{s.name}}</small>
									</div>

									<div class="col-xs-6 my-col hidden-sm hidden-md hidden-lg">
										<small class="text-capitalize small-help">your career</small>
									</div>

									<div class="col-xs-6 my-col hidden-sm hidden-md hidden-lg">
										<small class="text-capitalize small-help">your career and level</small>
									</div>

									<div class="col-xs-6 col-sm-4 my-col">

										<rating class="skill-rating"
											data-ng-model="s.rankings.rank1.value"
											max="max"
											readonly="true"
											titles="['very low','low','average', 'high', 'very high']" >
										</rating><br class="hidden-sm hidden-md hidden-lg">
										<span class="label" ng-class="s.rankings.rank1.labelClass" >{{s.rankings.rank1.percent}}%</span>
									</div>

									<div class="col-xs-6 col-sm-4 my-col">

										<rating class="skill-rating"
											data-ng-model="s.rankings.rank2.value"
											max="max"
											readonly="true"
											titles="['very low','low','average', 'high', 'very high']" >
										</rating><br class="hidden-sm hidden-md hidden-lg">
										<span class="label" ng-class="s.rankings.rank2.labelClass" >{{s.rankings.rank2.percent}}%</span>
									</div>

								</div>
							</div>

						</div>

					</div>
				</div>
			</div>

			<span class="help-block">
				<h3>The skills you've selected so far.</h3>
			</span>
			<skills-list survey="survey" label="name" placeholder="'No skills selected so far.'"></skills-list>
			<div data-ng-include="'views/incl/duration-warnings.html'"></div>

			<span class="help-block">
				<p>...or you can go to the advanced search in the skills dictionary.</p>
			</span>

			<button type="button" class="btn btn-default btn-block">
				<span class="glyphicon glyphicon-search"></span>&nbsp;
				<span class="text-capitalize">skills dictionary</span>
			</button>
			<br>
			
			<button type="button" class="btn btn-default btn-block" data-ng-click="showNextStep()" collapse="!showDoneBtn">
				<span class="glyphicon glyphicon-ok"></span>&nbsp;
				<span class="text-capitalize">next</span>
			</button>
		</div>
	</div>
</div>