<div data-ng-controller="CareerSelectCtrl" >
	<h2 class="text-capitalize" id="careerStepHeading">1. Tell us about your career</h2>
	<div class="panel panel-default">
		<div class="panel-heading">&nbsp;</div>
		<div class="panel-body">
			<form name="careerForm">
				<div class="input-group">
					<span class="input-group-addon text-capitalize" >area</span>
					<input type="text"
						data-ng-model="survey.career"
						typeahead="career.title for career in careers | filter:$viewValue"
						class="form-control"
						placeholder="Your area of expertise -e.g. marketing, logistics, sales, consulting, finance, etc."
						popover="This is about where YOU WANT TO GO. Not about where you are right now. Pick what YOU want to be, not what your company expects you to be :)"
						popover-title="Important:"
						popover-trigger="focus"
						popover-enable="!survey.career"
						required
						ng-model-options="{ debounce: 500 }" >
				</div>
				<br>

				<div class="input-group">
					<span class="input-group-addon text-capitalize" >role</span>
					<input type="text"
						data-ng-model="survey.level"
						typeahead="level.title for level in levels | filter:$viewValue"
						class="form-control"
						placeholder="Your seniority or level of experience"
						popover="If you've consistently done well in previous evaluations, consider aiming for the next step in your career."
						popover-title="Hint:"
						popover-trigger="focus"
						popover-enable="!survey.level">
				</div>
				<br>

				<div class="input-group">
					<span class="input-group-addon text-capitalize" >industry</span>
					<input type="text"
						data-ng-model="survey.industry"
						typeahead="industry for industry in industries | filter:$viewValue"
						class="form-control"
						placeholder="Are you pursuing a career in any specific industry?"
						popover="The way your colleagues in the market value different skills may vary between industries."
						popover-title="Hint:"
						popover-trigger="focus"
						popover-enable="!survey.industry">
				</div>
				<br>


			</form>
			<button type="button" class="btn btn-default btn-block" data-ng-click="showNextStep()" collapse="!showDoneBtn">
				<span class="glyphicon glyphicon-ok"></span>&nbsp;
				<span class="text-capitalize">next</span>
			</button>
		</div>
	</div>
</div>