<div data-ng-controller="CustMsgCtrl">
	<h2 class="_text-capitalize" >4. Add a Custom Invitation Message</h2>
	<div class="panel panel-default">
		<div class="panel-heading">&nbsp;</div>
		<div class="panel-body">
			
			<span class="help-block">
				<p>Remember to add a custom message to add to your feedback invitations before you send them out.</p>
			</span>

			<textarea class="form-control" rows="3" data-ng-change="save()"
				ui-tinymce data-ng-model="survey.custMsg"
				placeholder="Hey guys, Just like we talked, I'd like to steal a few minutes of your time to get some feedback on my performance. Thanks for helping me grow!"></textarea>

			<h3>Preview</h3>
			<div class="well" ng-bind-html="trustedCustMsg"></div>

			<button type="button" class="btn btn-default btn-block" data-ng-click="showNextStep(4)" collapse="!showDoneBtn">
				<span class="glyphicon glyphicon-ok"></span>&nbsp;
				<span class="text-capitalize">next</span>
			</button>

		</div>
	</div>
</div>