<div>
	<h2 class="text-capitalize" id="head3">5. Review Summary</h2>
	<div class="panel panel-default">
		<div class="panel-heading">&nbsp;</div>
		<div class="panel-body">
			
			<span class="help-block">
				<p>Remember to make sure not to ask feedback on too many skills. The longer the survey, the harder it is to get quality feedback.</p>
			</span>

			<div class="container-fluid">
				<div class="row">
					<div class="col-xs-12 col-md-6">
						<div data-ng-include="'views/incl/guests-summary.html'"></div>
					</div>

					<div class="col-xs-12 col-md-6">
						<table class="table table-condensed">
							<thead>
								<tr>
									<th class="text-capitalize">skills</th>
									<th class="text-capitalize">estimated time to complete</th>
								</tr>
							</thead>
							<tbody>
								<tr data-ng-repeat="skill in survey.skills track by skill.id">
									<td><small class="text-capitalize">{{skill.name}}</small></td>
									<td>{{skill.etc}} min</td>
								</tr>
							</tbody>
							<tfoot>
								<tr class="{{survey.etc <= 10?'success':(survey.etc <= 15?'warning':'danger')}}">
									<td>Total</td>
									<td class="text-{{survey.etc <= 10?'success':(survey.etc <= 15?'warning':'danger')}}">
										<span >{{survey.etc}} min</span>
										<!--img class="stopwatch" src="img/stopwatch.png"-->
										<span class="glyphicon glyphicon-time"></span>
									</td>
								</tr>
							</tfoot>
						</table>
						<div data-ng-include="'views/incl/duration-warnings.html'"></div>
					</div>
				</div>
			</div>

			<button type="button" class="btn btn-default btn-block" data-ng-click="submit()">
				<span class="glyphicon glyphicon-send"></span>&nbsp;
				<span class="text-capitalize">submit</span>
			</button>
			<br>

		</div>
	</div>
</div>