$input-transp-color: rgba(200,200,200,0.8) !important;
$form-transp-color: rgba(100, 100, 20, 0.2) !important;

$cyan-color: #60D9AE;
$magenta-color: #FF0075; /*Used for the circular add button*/
$brown-color: #CFAE76;
$light-pink-color: #FF607C;
$light-blue-color: #54C6E1;
$very-light-pink-color: #FEEEF4;
$very-light-blue-color: #E9F3FC;
$brick-red-color: #FF575C;
$white-color: #fff;
$teal-color: #4CB5AB;
$deep-blue-color: #7E86AD /*#48538B*/;
$amber-color: orange;

$female-fore: $light-pink-color;
$female-back: $very-light-pink-color;

$male-fore: $light-blue-color;
$male-back: $very-light-blue-color;

$input-border-color: $brown-color;

/*$primary-color-light:  #00796B;*/
$primary-color:        #009688;

$self-color: $teal-color;
$rest-color: $deep-blue-color;
$seniors-color: $light-pink-color;
$peers-color: $cyan-color;
$others-color: #EEC262;
$juniors-color: #54C6E1;