.tags-container{

	background-color: #FFF;
	@include box-shadow-helper(1);
	padding: 0.5em;

	.std-tag{
		background-color: #FFF;
		padding: 0.1em 0.5em;
		white-space: nowrap;
		@include box-shadow-helper(1);
		margin-right: 0.3em !important;
		margin-bottom: 0.3em !important;

		a.delete{
			color: #FF575C;
			font-weight: bold;
			cursor: pointer;
		}
	}
}

