<div class="container">
	<div class="row">
		<div class="col-xs-12">
			<h1>Home</h1>
			<span class="help-block">
				<p>Here you'll find a summary of all the performance reviews you've done so far. Think of it as a dashboard for your career and professional growth</p>
			</span>

			<!--form class="" role="search">
				<div class="form-group">
					<button type="submit" class="btn flat-btn"><span class="glyphicon glyphicon-search"></span></button>
					<input type="text" class="form-control" placeholder="Search">
				</div>		
			</form-->


		</div>
	</div>
</div>