<div data-ng-controller="LoginCtrl">
	<div id="li-form-container">
		<div class="container">
			<h1 class="text-center li-head">Career Hack</h1>
			<h2 class="text-center li-head">Your career, your goals, your growth.</h2>
			<div class="li-form-subcontainer">

				<!--a href="{{authUrls.facebook}}" class="btn-block li-btn-fb">Login with Facebook</a-->
				<!--a href="{{authUrls.linkedin}}" class="btn-block li-btn-li">Login with LinkedIn</a-->
				<a ui-sref="main.home" class="btn-block li-btn-li">Login with LinkedIn</a>
				<a href="{{authUrls.xing}}" class="btn-block li-btn-xi">Login with Xing (Coming soon)</a>
				<!--a href="{{authUrls.google}}" class="btn-block li-btn-g">Login with Google (Coming soon)</a-->

			</div>
		</div>
	</div>
	
</div>