<div class="_container" data-ng-controller="WizardCtrl">
	<div class="row">
				
		<div class="col-xs-12" data-ng-include="'views/incl/user-info.html'"></div>
		<div class="col-xs-12" data-ng-include="'views/incl/wizard/step1.html'"></div>
		<div class="col-xs-12" data-ng-include="'views/incl/wizard/step2.html'"></div>
		<div class="col-xs-12" data-ng-include="'views/incl/wizard/step3.html'"></div>
		<div class="col-xs-12" data-ng-include="'views/incl/wizard/step4.html'"></div>
		<div class="col-xs-12" data-ng-include="'views/incl/wizard/survey-summary.html'"></div>

	</div>
</div>
